*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
table{
    border: 2px  dashed gray;
}
.block{
    display:flex;
    justify-content: center;
}
td{
    border: 1px  dashed gray;
}
textarea{
    display: block;
}
.description{
    text-align: end;
}